body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f7f7f7;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

/* index.css */

.card {
    width: 200px; /* Establece el ancho de la card */
    height: 200px;
  /* Agrega otros estilos necesarios para el fondo, bordes, etc., de la card */
}

.container {
  display: flex;
  justify-content: flex-start;
  height: 130vh;
  padding: 20px;
}

.container2 {
  display: flex;
  justify-content: flex-start;
  height: 120vh;
  padding: 160px;
}

.card {
padding: 20px;  width: 500px;
  height: 800px;
  background-color: #f2f2f2; /* Fondo gris */
  border-radius: 10px;
    margin-right: 20px; /* Bordese redondeados */
}

.card2 {
  padding: 20px;  width: 500px;
    height: 400px;
    background-color: #f2f2f2; /* Fondo gris */
    border-radius: 10px;
      margin-right: 20px; /* Bordese redondeados */
  }

.card-img {
  display: block;
  max-width: 100%;
  max-height: 100%;
  margin: 0 auto;
  border-radius: 10px; /* Bordese redondeados también para la imagen */
}

.card-title{
    text-align: center;
}

.card-content {
  /* Agrega estilos necesarios para el contenido de la card */
  background-color: #f2f2f2; /* Puedes repetir el fondo gris aquí si es necesario */
  border-radius: 10px; /* Puedes repetir los bordes redondeados aquí si es necesario */
}

.description {
  flex-grow: 1; /* La descripción ocupará el espacio restante en la fila */
  background-color: #f2f2f2;
  border-radius: 10px;
  padding: 20px; /* Espacio interno para el contenido de la descripción */
    width: 200px;
  height: 800px;
}

.description h3 {
  margin-top: 0; /* Eliminar el margen superior predeterminado del encabezado */
}

.description-img {
  display: block;
  max-width: 75px;
  max-height: 75px;
  margin: 0 auto;
  border-radius: 10px; /* Bordese redondeados también para la imagen */
}

.link {
  color: deepskyblue; /* Color del texto del enlace (rojo en este caso) */
  text-decoration: none; /* Quita el subrayado predeterminado del enlace */
  font-weight: bold; /* Texto en negrita */
}