{% extends 'html/base.html' %}
{% load static %}
{% block content %}
  {% include "html/barra_de_navegacion.html" %}
  {% if error %}
    <div class="alert alert-danger alert-dismissible fade show">
      <strong>Error!</strong> {{error}}
      <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
    </div>
  {% endif %}
<div class="container mt-5 p-4 bg-dark text-white table-container">
  <h2>Aceptación de Tutorías</h2>
  <table class="table table-bordered table-striped text-white">
    <thead>
      <tr>
        <th>#</th>
        <th>Nombre</th>
        <th>Apellido</th>
        <th>Correo Electrónico</th>
        <th>Opciones</th>
      </tr>
    </thead>
    <tbody>
    {% for e in lista_estudiantes %}
      <tr>
        <td class="centrado">{{ forloop.counter }}</td>
        <td class="centrado">{{ e.nombre }}</td>
        <td class="centrado">{{ e.apellido }}</td>
        <td class="centrado">{{ e.usuario }}</td>
        <td>
          <!-- Botón para abrir el modal -->
          <button type="button" name="accion" value="aceptar" class="btn btn-primary" data-toggle="modal" data-target="#tutoriaModalAceptar{{ forloop.counter }}">
            Aceptar Tutoría
          </button>
          <button type="button" name="accion" value="denegar" class="btn btn-primary" data-toggle="modal" data-target="#tutoriaModalDenegar{{ forloop.counter }}">
            Denegar Tutoría
          </button>
        </td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
</div>

{% for e in lista_estudiantes %}
<!-- Modal -->
  <div class="modal fade" id="tutoriaModalAceptar{{ forloop.counter }}" tabindex="-1" role="dialog" aria-labelledby="tutoriaModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="tutoriaModalLabel">Aceptar Tutoría</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <!-- Contenido del formulario -->
          <form method="post" action="{% url 'enviar_solicitud_estudiante' %}">
            {% csrf_token %}
            <div class="form-group">
              <label>Horas disponibles: </label>
              <img src="/static/img/ejemplohora.png" alt="Horas Disponibles" class="img-fluid">
              <input type="hidden" id="correo_estudiante" name="correo_estudiante" value="{{ e.usuario }}">
            </div>
            <div class="form-group">
              <label for="txtnombre">Nombre Estudiante:</label>
              <input type="text" class="form-control" id="txtnombre" name="txtnombre" required>
            </div>
            <div class="form-group">
              <label for="txthora">Hora de la Tutoría:</label>
              <input type="text" class="form-control" id="txthora" name="txthora" required>
            </div>
            <div class="form-group">
              <label for="txtdia">Día de la Tutoría:</label>
              <input type="text" class="form-control" id="txtdia" name="txtdia" required>
            </div>
            <div class="form-group">
              <label for="txtinfotutoria">Información de la Tutoría:</label>
              <textarea class="form-control" id="txtinfotutoria" name="txtinfotutoria" required></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Enviar</button>
          </form>
        </div>
      </div>
    </div>
  </div>
{% endfor %}

{% for e in lista_estudiantes %}
<!-- Modal -->
  <div class="modal fade" id="tutoriaModalDenegar{{ forloop.counter }}" tabindex="-1" role="dialog" aria-labelledby="tutoriaModalLabel2"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="tutoriaModalLabel1">Denegar Tutoría</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <!-- Contenido del formulario -->
          <form method="post" action="{% url 'enviar_solicitud_estudiante' %}">
            {% csrf_token %}
            <div class="form-group">
              <label>Horas disponibles: </label>
              <img src="/static/img/ejemplohora.png" alt="Horas Disponibles" class="img-fluid">
              <input type="hidden" id="correo_estudiante1" name="correo_estudiante1" value="{{ e.usuario }}">
            </div>
            <div class="form-group">
              <label for="txtnombre1">Nombre Estudiante:</label>
              <input type="text" class="form-control" id="txtnombre1" name="txtnombre1" required>
            </div>
            <div class="form-group">
              <label for="txttutoria">Comentario de la razón de Denegación de Tutoría:</label>
              <textarea class="form-control" id="txttutoria" name="txttutoria" required></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Enviar</button>
          </form>
        </div>
      </div>
    </div>
  </div>
{% endfor %}
{% endblock %}