{% extends 'html/base.html' %}
{% load static %}
{% block content %}
{% include "html/barra_de_navegacion.html" %}
{% if error %}
<div class="alert alert-danger alert-dismissible fade show">
  <strong>Error!</strong> {{error}}
  <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
</div>
{% endif %}
<div class="container mt-5 p-4 bg-dark text-white table-container">
  <h2>Aceptación de Tutorías</h2>
  <table class="table table-bordered table-striped text-white">
    <thead>
      <tr>
        <th>#</th>
        <th>Nombre</th>
        <th>Correo Electrónico</th>
        <th>Opciones</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>1</td>
        <td>Juan Pérez</td>
        <td>juan@example.com</td>
        <td>
          <!-- Botón para abrir el modal -->
          <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#tutoriaModal">
            Aceptar Tutoría
          </button>
          <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#tutoriaModal">
            Denegar Tutoría
          </button>
        </td>
      </tr>
      <tr>
        <td>2</td>
        <td>María López</td>
        <td>maria@example.com</td>
        <td>
          <!-- Botón para abrir el modal -->
          <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#tutoriaModal">
            Aceptar Tutoría
          </button>
          <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#tutoriaModal">
            Denegar Tutoría
          </button>
        </td>
      </tr>
      <tr>
        <td>3</td>
        <td>Carlos Gómez</td>
        <td>carlos@example.com</td>
        <td>
          <!-- Botón para abrir el modal -->
          <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#tutoriaModal">
            Aceptar Tutoría
          </button>
          <button type="button" class="btn btn-primary" data-toggle="modal2" data-target="#tutoriaModal2">
            Denegar Tutoría
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<!-- Modal -->
<div class="modal fade" id="tutoriaModal" tabindex="-1" role="dialog" aria-labelledby="tutoriaModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="tutoriaModalLabel">Aceptar Tutoría</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <!-- Contenido del formulario -->
        <form>
          <div class="form-group">
            <label>Horas disponibles: </label>
            <img src="/static/img/ejemplohora.png" alt="Horas Disponibles" class="img-fluid">
          </div>

          <div class="form-group">
            <label for="hora">Hora de la Tutoría:</label>
            <input type="text" class="form-control" id="hora" name="hora" required>
          </div>
          <div class="form-group">
            <label for="dia">Día de la Tutoría:</label>
            <input type="text" class="form-control" id="dia" name="dia" required>
          </div>
          <div class="form-group">
            <label for="tutoria">Información de la Tutoría:</label>
            <textarea class="form-control" id="tutoria" name="tutoria" required></textarea>
          </div>
          <button type="submit" class="btn btn-primary">Enviar</button>
        </form>
      </div>
    </div>
  </div>
</div>
<!-- Modal -->
<div class="modal fade" id="tutoriaModal2" tabindex="-1" role="dialog" aria-labelledby="tutoriaModalLabel2"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="tutoriaModalLabel">Denegar Tutoría</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <!-- Contenido del formulario -->
        <form>
          <div class="form-group">
            <label>Horas disponibles: </label>
            <img src="/static/img/ejemplohora.png" alt="Horas Disponibles" class="img-fluid">
          </div>

          <div class="form-group">
            <label for="tutoria">Comentario de la razón de Denegación de Tutoría:</label>
            <textarea class="form-control" id="tutoria" name="tutoria" required></textarea>
          </div>
          <button type="submit" class="btn btn-primary">Enviar</button>
        </form>
      </div>
    </div>
  </div>
</div>

{% endblock %}