{% load static %}
<html lang="en">
    <head>
        <title>{% block title %}Sistema de tutorias{% endblock %}</title>
        <link rel='icon' href='{% static "img/icono.png" %}' type='image/png'>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
        <style>
         body {
             background-image: url("https://unl.edu.ec/sites/default/files/galeria/2022/02/c.jpg");
             background-repeat: no-repeat;
             background-size: cover;
         }
         </style>
    </head>
    <body>
        {% block content %}

        {% endblock %}
    </body>
</html>