{% load static %}
<html lang="en">
    <head>
        <title>{% block title %}Sistema de tutorias{% endblock %}</title>
        <link rel='icon' href='{% static "img/icono.png" %}' type='image/png'>
        <link rel="stylesheet" href="../css/styles.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
        <style>
         body {
             background-image: url("https://www.unl.edu.ec/sites/default/files/galeria/2022/02/c.jpg");
             background-repeat: no-repeat;
             background-size: cover;
         }

         </style>
    </head>
    <body>
        {% block content %}

        {% endblock %}
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    </body>
</html>