{% load static %}
{% block content %}
<div class="container mt-5 p-4 bg-dark text-white table-container">
  <h2>Pedir Tutorías</h2>
  <table class="table table-bordered table-striped text-white">
    <thead>
      <tr>
        <th>#</th>
        <th>Materia</th>
        <th>Docente</th>
        <th>Ciclo</th>
      </tr>
    </thead>
    <tbody>
    {% for e in Asignatura %}
      <tr>
        <td>1</td>
        <td>{{ e.nombre }}</td>
        <td>{{ e.apellido }}</td>
        <td>{{ e.usuario }}</td>
        <td>
          <!-- Botón para abrir el modal -->
          <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#tutoriaModal">
            Pedir Tutoría
          </button>
        </td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}