{% extends "html/base.html" %}

{% block title %}
  Sistema Tutorías: Editar Carreras
{% endblock %}

{% block content %}
{% include "html/barra_de_navegacion.html" %}
  {% load static %}
    <style>
    .bg-transparent {
      background-color: rgba(255, 255, 255, 0.3);
    }

    /* Estilos para hacer más grande el texto de las etiquetas */
    .etiqueta-grande {
      font-size: 1.5em;
    }

    /* Estilos para hacer más grande el texto en la tabla */
    .tabla-grande {
      font-size: 1.2em;
    }

    /* Estilos para hacer más grande el título y el botón */
    .titulo-grande {
      font-size: 3em; /* Ajusta el tamaño de fuente como desees */
    }

    .boton-grande {
      font-size: 2em; /* Ajusta el tamaño de fuente como desees */
    }

    /* Estilos para hacer más grande el tamaño de los cuadros de entrada de texto */
    .form-control {
      font-size: 1.5em; /* Ajusta el tamaño de fuente como desees */
    }
  </style>
  <div class="container-fluid bg-transparent text-dark py-5">
    <div class="row justify-content-center">
      <div class="col-md-4 py-4 bg-white mx-auto">
        <h2 class="display-4 text-dark etiqueta-grande titulo-grande">Modificar Carrera</h2>
        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                <li {% if message.tags %} class="alert alert-{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
        <form method="post">
          {% csrf_token %}
          <div class="mb-3">
            <label class="form-label etiqueta-grande">Nuevo Nombre:</label>
            <input type="text" class="form-control" id="nueva_nombre" name="nueva_nombre" value="{{ carrera.nombre }}" required>
          </div>
          <div class="mb-3">
            <label class="form-label etiqueta-grande">Nueva Facultad:</label>
            <select class="form-control" id="nueva_facultad" name="nueva_facultad">
              {% for opcion in carrera.OPCIONES_FACULTAD %}
                <option value="{{ opcion.0 }}" {% if opcion.0 == carrera.facultad %}selected{% endif %}>{{ opcion.1 }}</option>
              {% endfor %}
            </select>
          </div>
          <div class="mb-3">
            <label class="form-label etiqueta-grande">Nuevo Inicio del Periodo:</label>
            <input type="date" class="form-control" id="nueva_inicio" name="nueva_inicio" value="{{ carrera.inicio_periodo }}" required>
          </div>
          <div class="mb-3">
            <label class="form-label etiqueta-grande">Nuevo Fin del Periodo:</label>
            <input type="date" class="form-control" id="nueva_final" name="nueva_final" value="{{ carrera.final_periodo }}" required>
          </div>
          <div class="pt-1 mb-0">
            <button class="btn btn-outline-success btn-lg btn-block btn-block boton-grande" type="submit">
              <span class="fs-3">Guardar Cambios</span>
            </button>
          </div>
        </form>
        </div>
    </div>
  </div>
{% include "html/pie_de_pagina.html" %}
{% endblock %}