{% extends 'html/base.html' %}
{% load static %}

{% block content %}
{% include "html/barra_de_navegacion.html" %}
{% if error %}
<div class="alert alert-danger alert-dismissible fade show">
    <strong>Error!</strong> {{error}}
    <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
</div>
{% endif %}

<div class="container mt-5 p-4 bg-dark text-white table-container">
  <h2>Pedir Tutorías</h2>
  <table class="table table-bordered table-striped text-white">
    <thead>
      <tr>
        <th>#</th>
        <th>Nombre</th>
        <th>Apellido</th>
        <th>Correo Electrónico</th>
        <th>Opciones</th>
      </tr>
    </thead>
    <tbody>
      {% for docente in docentes %}
      <tr>
        <td>{{ forloop.counter }}</td>
        <td>{{ docente.nombres }}</td>
        <td>{{ docente.apellidos }}</td>
        <td>{{ docente.correo }}</td>
        <td>
          <!-- Botón para abrir el modal -->
          <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#tutoriaModal{{ forloop.counter }}">
            Pedir Tutoría
          </button>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

{% for docente in docentes %}
<!-- Modal para el docente {{ docente.nombres }} {{ docente.apellidos }} -->
<div class="modal fade" id="tutoriaModal{{ forloop.counter }}" tabindex="-1" role="dialog" aria-labelledby="tutoriaModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="tutoriaModalLabel">Solicitar Tutoría</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <!-- Contenido del formulario -->
        <form action="{% url 'enviar_solicitud' %}" method="post">
          {% csrf_token %}
          <div class="form-group">
            <label for="foto">Horario:</label>
            <img src="{{ docente.horario.url }}" alt="Horario del Docente" class="img-fluid">
            <input type="hidden" id="correo_docente" name="correo_docente" value="{{ docente.correo }}">
          </div>
          <div class="form-group">
            <label for="nombre">Nombre del Estudiante:</label>
            <input type="text" class="form-control" id="nombre" name="nombre" required>
          </div>
          <div class="form-group">
            <label for="hora">Hora de la Tutoría:</label>
            <input type="text" class="form-control" id="hora" name="hora" required>
          </div>
          <div class="form-group">
            <label for="dia">Día de la Tutoría:</label>
            <input type="text" class="form-control" id="dia" name="dia" required>
          </div>
          <div class="form-group">
            <label for="tutoria">Información de la Tutoría:</label>
            <textarea class="form-control" id="tutoria" name="tutoria" required></textarea>
          </div>
          <button type="submit" class="btn btn-primary">Enviar</button>
        </form>
      </div>
    </div>
  </div>
</div>
{% endfor %}

{% include "html/pie_de_pagina.html" %}
{% endblock %}
