<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
<style>
    /* Estilos para los iconos de redes sociales */
    footer a {
      color: #555;
      font-size: 20px;
      margin: 0 10px;
      text-decoration: none;
    }

    footer a:hover {
      color: #007bff;
    }
</style>
<footer class="bg-light text-center text-lg-start">
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2023 Copyright UNL Sistema de Tutorías Académicas:
    <a class="text-dark" href="https://www.unl.edu.ec/">www.unl.edu.ec</a>
    <a href="https://www.facebook.com/UNLoficial" target="_blank"><i class="fab fa-facebook"></i></a>
    <a href="https://twitter.com/UNLoficial" target="_blank"><i class="fab fa-twitter"></i></a>
    <a href="https://www.instagram.com/unloficial" target="_blank"><i class="fab fa-instagram"></i></a>
  </div>
</footer>
</html>