<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
  <style>
    /* Estilos para el pie de página */
    footer {
      background-color: #f0f0f0;
      padding: 20px;
      text-align: center;
    }

    /* Estilos para los iconos de redes sociales */
    footer a {
      color: #555;
      font-size: 20px;
      margin: 0 10px;
      text-decoration: none;
    }

    footer a:hover {
      color: #007bff;
    }
  </style>
</head>
<body>
  <footer>
    <div>
      <a href="https://www.facebook.com/tu_pagina" target="_blank"><i class="fab fa-facebook"></i></a>
      <a href="https://www.twitter.com/tu_pagina" target="_blank"><i class="fab fa-twitter"></i></a>
      <a href="https://www.instagram.com/tu_pagina" target="_blank"><i class="fab fa-instagram"></i></a>
      <!-- Agrega más enlaces a otras redes sociales aquí -->
    </div>
    <p>&copy; 2023 UNL. Todos los derechos reservados ©.</p>
  </footer>
</body>
</html>