{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <!-- Bootstrap -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous" />
  <title>Sistema Tutorias: Registro Asignaturas</title>
</head>
<body>

  <div class="container my-3">
    {% csrf_token %}
    <div class="row">
      <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4 py-4 bg-white">
        <h2>Registrar Asignaturas</h2>
        <form action="/registro_asignaturas/" method="post">
            {% csrf_token %}
            <div class="mb-3">
              <label for="nombre" class="form-label">Nombre</label>
              <input class="form-control" id="nombre" placeholder="Nombre Asignatura" autofocus {{ asignaturaForm.nombre }}/>
            </div>
            <div class="mb-3">
              <label class="form-label">Carrera</label>
              {{ asignaturaForm.carrera }}
            </div>
            <div class="mb-3">
              <label for="inicio" class="form-label">Ciclo</label>
              <input class="form-control" id="inicio" placeholder="Ciclo Asignatura" autofocus {{ asignaturaForm.ciclo }}/>
            </div>
            <div class="mb-3">
              <label for="fin" class="form-label">Paralelo</label>
              <input class="form-control" id="fin" placeholder="Paralelo Asignatura" autofocus {{ asignaturaForm.paralelo }}/>
            </div>
            <div class="mb-3">
              <label class="form-label">Docente</label>
              {{ asignaturaForm.docente }}
            </div>
            {% csrf_token %}
            <div class="pt-1 mb-0">
              <button class="btn btn-outline-success btn-lg btn-block" type="submit">Registrar </button>
            </div>
          </form>
      </div>
      <div class="col-sm-12 col-md-8 col-lg-8 col-xl-8 py-4 bg-white">
        <h2>Listado de Asignatura</h2>
          <table class="table table-dark table-striped">
            <thead>
              <tr>
                <th class="centrado">Nombre</th>
                <th class="centrado">Carrera</th>
                <th class="centrado">Ciclo</th>
                <th class="centrado">Paralelo</th>
                <th class="centrado">Docente</th>
              </tr>
            </thead>
            <tbody>
              {% for a in Asignatura %}
              <tr>
                <td></td>
                <td class="centrado">{{a.nombre}}</td>
                <td class="centrado">{{a.carrera}}</td>
                <td class="centrado">{{a.ciclo}}</td>
                <td class="centrado">{{a.paralelo}}</td>
                <td class="centrado">{{a.docente}}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
      </div>
    </div>
  </div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</body>
</html>