{% extends "html/base.html" %}

{% block title %}
  Sistema Tutorías: Registro Asignaturas
{% endblock %}

{% block content %}
  {% include "html/barra_de_navegacion.html" %}
  {% load static %}

  <style>
    .bg-transparent {
      background-color: rgba(255, 255, 255, 0.3); /* Cambia el valor alpha (0.3) para ajustar la transparencia */
    }
    .etiqueta-grande {
      font-size: 1.5rem; /* Ajusta el tamaño de fuente según tus preferencias */
    }
  </style>

  <div class="container-fluid bg-transparent text-dark py-5">
    <div class="row justify-content-center">
      <div class="col-md-4 py-4 bg-white">
        <h2 class="display-4 text-dark etiqueta-grande titulo-grande">Registrar Asignaturas</h2>
        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                <li {% if message.tags %} class="alert alert-{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
        <form action="/registro_asignaturas/" method="POST">
          {% csrf_token %}
          <div class="mb-3">
            <label class="form-label etiqueta-grande">Nombre</label>
            <input class="form-control" id="txtNombreAs" name="txtNombreAs" required placeholder="Nombre Asignatura" autofocus />
          </div>
          <div class="mb-3">
            <label class="form-label etiqueta-grande">Ciclo</label>
            <input class="form-control" id="txtCiclo" name="txtCiclo" required placeholder="Ciclo Asignatura en letras" autofocus />
          </div>
          <div class="mb-3">
            <label class="form-label etiqueta-grande">Paralelo</label>
            <input class="form-control" id="txtParalelo" name="txtParalelo" required placeholder="Paralelo Asignatura en letras" autofocus />
          </div>
          <div class="mb-3">
            <label class="form-label etiqueta-grande">Docente</label>
            <select class="form-control" id="slDocente" name="slDocente" required>
                {% for d in docentes %}
                  <option value="{{ d.id }}">{{ d.nombres }}</option>
                {% endfor %}
              </select>
          </div>
          <div class="mb-3">
            <label class="form-label etiqueta-grande">Carrera</label>
            <select class="form-control" id="slCarrera" name="slCarrera" required>
                {% for c in carreras %}
                  <option value="{{ c.id }}">{{ c.nombre }}</option>
                {% endfor %}
              </select>
          </div>
          <div class="pt-1 mb-0">
            <button class="btn btn-outline-dark btn-lg btn-block" type="submit">
              <span class="fs-3">Registrar</span>
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
    crossorigin="anonymous"></script>
  </body>
</html>

{% include "html/pie_de_pagina.html" %}
{% endblock %}
